@color: #3399FF;
@box_color: #FF3333;


body{
background: @color;
padding-top: 40px;
}

.box{
background: @box_color;
min-height: 1200px;

}

.box div{
padding:20px;

}

@media (max-width: 480px) {
body{
background: @box_color;

}

.box{
background: @color;
min-height: 40px;

}



}
