#left{
margin-top:20px;
margin-left:9px;
width:215px;
float:left;
}

#right{
margin-right:9px;
}

div.clear{
clear:left;
}

div.right_module_header{
margin-left:55px;
margin-top:9px;
float:none;
}

#bot_lm{
margin-left:15px;
}

#bot_rm{
margin-right:15px;
}

#website_wrap{
overflow:hidden;
}

#header_right{
float:right;
margin-right:10px;
margin-top:5px;
}

#top_menu{
margin-left:6px;
margin-top:4px;
float:left;
width:400px;
}

#login_menu{
margin-right:-411px;
margin-top:4px;
float:right;
width:478px;
text-align:right;
}

#menu_bot, #content_bot, div.right_bot, div.right_bot_black, #bot_lm_bot, #bot_rm_bot{
background-repeat:no-repeat;
}

div.right_background_fixed{
height:85px;
max-height:85px;
overflow:hidden;
}